<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <!-- font-awesome -->
        <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.min.css' %}">

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Oswald:400,700" rel="stylesheet" type="text/css" media="screen">
        <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">

        <title>{% block title %} Neighborhood Bazaar {% endblock %} </title>

        <!-- link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" sizes="30x30" href="{% static 'images/logo.ico' %}"/>

    </head>
    <body class="d-flex flex-column vh-100">

        {% include 'navigation.html' %}

        {% include 'navigation2.html' %}

        <div class="d-flex bg-light bg-gradient-secondary flex-fill content-font w-100">
        {% block content %} {% endblock %}
        </div>

        <!--  include 'footer.html'  -->


        <!-- ********** -->
        {% block bottom-js %}
        <!-- jquery, proper, bootstrap js-->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
        {% endblock bottom-js %}

    </body>
</html>