<nav class="navbar navbar-expand-sm bg-body-tertiary border border-2 m-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Neighborhood Bazaar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav d-flex ms-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item px-2">
                    <a class="nav-link" id="is_logged" href="#"> {{ user.email }}</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" id="logout" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item px-2">
                    <a class="nav-link" id="login" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" id="signup" href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>