{% load static %}

{% load template_tags %}

<nav id="nav1" class="navbar navbar-light navbar-expand-sm border border-1">
    <!-- do not use fixed-top, loosing scrolling and the 2nd navbar -->
    <div class="container-fluid band-height">
        <a class="navbar-brand" href="{% url 'about-us' %}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="about us">
           NEIGHBORHOOD <br> BAZAAR
          <!-- img src="{% static 'images/logo.png' %}" class="d-inline-block align-top" alt=""> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2 mt-2">
                    <a class="nav-link anton-sc-regular {% navactive request 'order-here' %}" aria-current="page"
                       href="{% url 'order-here' %}">order here</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item px-2 mt-2">
                    <a class="nav-link anton-sc-regular" id="is_logged" href="#"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="history">
                        {{ user.email }}
                    </a>
                </li>
                <li class="nav-item px-2 mt-2">
                    <a class="nav-link anton-sc-regular {% navactive request 'logout' %}" aria-current="page"
                       href="{% url 'logout' %}">LOG OUT</a>
                </li>

                {% else %}

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                        <form action='/login/' method="POST">
                        {% csrf_token %}
                            {% if form.errors %}
                                {{ form.errors}}
                            {% endif %}
                            <label for="id_email">Login:</label>
                            <input type="text" name="email" id="id_email">
                            <br />
                            <label for="id_password">Pass:</label>
                            <input type="password" name="password" id="id_password">
                            <br />
                            <input class="btn btn-primary" type="submit" value="Login" />
                            <input type="hidden" name="next" value="{{ current_path }}" />
                        </form>
                    </div>
                </li>


                <li class="nav-item px-2 mt-2">
                    <a class="nav-link anton-sc-regular {% navactive request 'login' %}" aria-current="page"
                       href="{% url 'login' %}">LOG IN</a>
                </li>
                <li class="nav-item px-2 mt-2">
                    <a class="nav-link {% navactive request 'signup' %}" aria-current="page"
                       href="{% url 'signup' %}" style="color: white;">
                    <span class="badge rounded-pill bg-success"> SIGN UP</span></a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>