{% load static %}
{% load template_tags %}


<div id="nav2" class="d-flex navbar-light band-height border-top-0 border border-bottom-1">

    <div class="nav-item anton-sc-regular">
        <a class="nav-link  {% navactive request 'menu-list' %}" aria-current="page"
            href="{% url 'menu-list' %}">menu</a>
    </div>
    <div class="nav-item anton-sc-regular">
        <a class="nav-link  {% navactive request 'kitchen-list' %}" aria-current="page"
            href="{% url 'kitchen-list' %}">kitchen</a>
    </div>
    <div class="nav-item anton-sc-regular">
        <a class="nav-link  {% navactive request 'store-list' %}" aria-current="page"
            href="{% url 'store-list' %}">store</a>
    </div>


    <div class="ms-auto vr"></div>
    <div class="shopping-cart position-relative p-3">
        <a href="#" title="">
            <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #3A833A">
                <span class="cart-total anton-sc-regular">$&nbsp;0.00</span>
            </i>
        </a>
    </div>
</div>
